<header class="ld-header">
    <div class="wrapper -has-user">
        <div></div>

        <div class="logo-wrapper">
            <img alt="Logo da DevFreela" class="image" src="assets/logo/devfreela.svg">
        </div>

        <div class="user">
            <div class="info">
                <span id="name" class="name"></span>
                <span id="role" class="role"></span>
            </div>
            <div class="photo-wrapper">
                <img src="https://img.ibxk.com.br/2019/02/17/17124052466014.jpg" alt="Foto do usuário">
            </div>
        </div>
    </div>
</header>